/* 상품 등록 입력 폼 */
.addForm {
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 300px;
  height: 600px;

  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  border-radius: 20px;
  background-color: pink;
}

.addForm.show {
  opacity: 1;
  visibility: visible;
}

.addForm .imagePreview {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  width: 180px;
  height: 180px;

  background-color: #ffdfdf;
  border-radius: 10px;
}

.addForm #imagePreview {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: none;

  max-width: 180px;
  max-height: 180px;

  border-radius: 10px;
}

.addForm #itemName {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);

  width: 200px;
  height: 30px;

  padding-left: 15px;

  border: none;
  border: 1px solid #ffdfdf;
  border-radius: 10px;
  outline: none;
}

.addForm #itemCost {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);

  width: 200px;
  height: 30px;

  padding-left: 15px;
  
  border: none;
  border: 1px solid #ffdfdf;
  border-radius: 10px;
  outline: none;
}

/* type="number" 우측 증감 화살표 제거 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

.addForm .filebox label {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;

  width: 100px;

  padding: 10px 10px;

  font-size: 14px;
  text-align: center;

  background-color: #ffdfdf;
  color: #000;
  cursor: pointer;
  border: 1px solid pink;
  }


.addForm #itemImage {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  border: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

.addForm #addBtn {
  position: absolute;
  bottom: 20px;
  left: 40px;

  width: 100px;
  height: 30px;

  border: none;
  border-radius: 10px;
  background-color: #ffdfdf;
  cursor: pointer;
}

.addForm #cancelBtn {
  position: absolute;
  bottom: 20px;
  right: 40px;

  width: 100px;
  height: 30px;

  border: none;
  border-radius: 10px;
  background-color: #ffdfdf;
  cursor: pointer;
}

@media (max-width: 500px) {
  .addForm {
    left: 23%;
    height: 500px;
  }
  .addForm .imagePreview {
    width: 150px;
    height: 150px;
  }
  .addForm #imagePreview {
    width: 150px;
    height: 150px;
  }
  .addForm .filebox label {
    top: 250px;
  }
  .addForm #itemName {
    top: 330px;
  }
  .addForm #itemCost {
    top: 380px;
  }
}