header {
  position: relative;

  width: 100%;
  height: 80px;
  
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

header .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 1020px;
  height: 100%;

  text-align: center;
}

header .inner .title {
  position: absolute;
  top: 50%;

  display: flex;

  width: 150px;
  height: 40px;

  margin-top: -20px;
}

header .inner .link_box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;

  width: 250px;
}

header .inner .to_link {
  cursor: pointer;
}

header .inner .to_link:hover {
  box-shadow: inset 0 -10px 0 pink;
}

@media (max-width: 500px) {
  header {
    width: 447px;
    height: 70px;
  }
  header .inner {
    width: 447px;
    height: 100%;
  } 
  header .inner .link_box {
    width: 200px;
    font-size: 15px;
  }
}