.wrap {
  position: relative;
}

.wrap .inner::before {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 1150px;

  content: "";
  background-image: url('https://bellygom.com/web/upload/NNEditor/20230331/copy-1680225136-4EC9B94EC9EA0EC8BA4_PC16.9_2.jpg');
  background-size: contain;

  opacity: .08;
}

.wrap .inner {
  position: relative;
}

.wrap .inner .inner_box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  width: 1020px;
  height: 1000px;

  line-height: 1.5;
  text-align: center;
}

.wrap .inner .inner_box .title {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 700;
}

.wrap .inner .inner_box .story {
  padding: 25px 0 30px 0;
  border-bottom: 1px solid #717171;
}


/* BELLYGON */
.wrap .inner .inner_box .bellygom {
  display: flex;
  justify-content: space-between;

  width: 1020px;
  height: 360px;
  
  margin-top: 60px;
}

.wrap .inner .inner_box .bellygom > img {
  width: 300px;
  height: 320px;

  margin-left: 80px;
}

.wrap .inner .inner_box table {
  text-align: left;
}

.wrap .inner .inner_box .bellygom > table {
  margin-right: 80px;
}

.wrap .inner .inner_box table tr,
.wrap .inner .inner_box table td {
padding: 0 30px;
}


/* GGONYANG */
.wrap .inner .inner_box .ggoyang {
  display: flex;
  justify-content: space-between;

  width: 1020px;
  height: 310px;
  
  padding-top: 80px;
}

.wrap .inner .inner_box .ggoyang > img {
  width: 250px;
  height: 320px;

  margin-right: 80px;
}

.wrap .inner .inner_box .ggoyang > table {
  margin: 10px 0 0 80px;
}

@media (max-width: 500px) {
  .wrap {
    width: 447px;
    height: 1000px;
  }
  .wrap .inner::before {
    width: 447px;
    height: 1450px;
    background-image: url('https://bellygom.com/web/upload/NNEditor/20230331/4EC9B94_EC9584EC9DB4ED8FB02.png');
    background-size: contain;
  }
  .wrap .inner .inner_box {
    width: 447px;
  }
  .wrap .inner .inner_box .title {
    font-size: 20px;
  }
  .wrap .inner .inner_box .story {
    font-size: 15px;
  }
  /* BELLYGON */
  .wrap .inner .inner_box .bellygom {
    display: block;
    width: 100%;
  }
  .wrap .inner .inner_box .bellygom > img {
    width: 200px;
    height: 220px;
    margin: 0;
  }
  .wrap .inner .inner_box .bellygom > table {
    width: 100%;
    margin-top: 30px;
  }
  .wrap .inner .inner_box table tr,
  .wrap .inner .inner_box table td {
    padding: 5px 13px;
    text-align: center;
    font-size: 13px;
  }
  /* GGONYANG */
  .wrap .inner .inner_box .ggoyang {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 370px;
  }
  .wrap .inner .inner_box .ggoyang > img {
    width: 180px;
    height: 250px;
    margin-left: 134px;
  }
  .wrap .inner .inner_box .ggoyang > table {
    width: 100%;
    margin: 30px 0 0 0;
  }
}
